@import "variables.module.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $background-color !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

main {
    margin: 145px 60px 40px 410px;
    transition: margin-left .3s;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 100px;
    z-index: 4;
    height: calc(100% - 100px);
    transition: border-radius .3s;
}

.sidebar .main-menu {
    width: 120px;
    height: calc(100% - 100px);
    background: #fff;
    z-index: 3;
    position: fixed;
    transition: transform .3s;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
}
.sidebar .main-menu .scroll {
    padding-right: unset;
    margin-right: unset;
    height: 100%;
}
.sidebar .scrollbar-container {
    margin-right: 0;
    padding-right: 0;
}

.sidebar .sub-menu {
    width: 230px;
    background: #fff;
    z-index: 2;
    position: fixed;
    left: 120px;
    border-left: 1px solid #f3f3f3;
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
    transition: transform .3s;
    height: calc(100% - 100px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    border-radius: 0 0.75rem 0.75rem 0;
}

.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.navbar {
    background: #fff;
    height: 100px;
    padding: 1.5rem 0;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}

.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar .navbar-left {
    flex-basis: 40%;
}

.navbar .navbar-logo {
    width: 110px;
    height: 35px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navbar .navbar-right {
    flex-basis: 40%;
    text-align: right;
}

// Item Dropdown
.item-dropdown {
    a {
        text-decoration: none;
        color: inherit;
    }
    &:last-child {
        margin-top: 0.9375rem;
        border-top: 1px solid #dee2e6;
    }
}
// End
