@import "variables.module.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $background-color !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

main {
    margin: 145px 60px 40px 410px;
    transition: margin-left .3s;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 100px;
    z-index: 4;
    height: calc(100% - 100px);
    transition: border-radius .3s;
}

.sidebar .main-menu {
    width: 120px;
    height: calc(100% - 100px);
    background: #fff;
    z-index: 3;
    position: fixed;
    transition: transform .3s;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
}
.sidebar .main-menu .scroll {
    padding-right: unset;
    margin-right: unset;
    height: 100%;
}
.sidebar .scrollbar-container {
    margin-right: 0;
    padding-right: 0;
}

.sidebar .sub-menu {
    width: 230px;
    background: #fff;
    z-index: 2;
    position: fixed;
    left: 120px;
    border-left: 1px solid #f3f3f3;
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
    transition: transform .3s;
    height: calc(100% - 100px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    border-radius: 0 0.75rem 0.75rem 0;
}

.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.navbar {
    background: #fff;
    height: 100px;
    padding: 1.5rem 0;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}

.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar .navbar-left {
    flex-basis: 40%;
}

.navbar .navbar-logo {
    width: 110px;
    height: 35px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navbar .navbar-right {
    flex-basis: 40%;
    text-align: right;
}

.btn-switch-theme button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 44px;
    height: 22px;
    line-height: 20px;
    padding: 0;
    vertical-align: middle;
    border-radius: 20px 20px;
    border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
    cursor: pointer;
    transition: all .3s cubic-bezier(.35,0,.25,1);
}

.btn-switch-theme button:before {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 4px;
    border-radius: 50% 50%;
    background-color: #fff;
    content: " ";
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(0 0 0 / 26%);
    transform: scale(1);
    transition: left .3s cubic-bezier(.35,0,.25,1);
    animation-timing-function: cubic-bezier(.35,0,.25,1);
    animation-duration: .3s;
    animation-name: unset;
}

.btn-switch-theme button.dark-theme {
    border-color: #922C88;
    background-color: #922C88;
}

.btn-switch-theme button.dark-theme:before {
    left: auto;
    right: 4px;
}

.switcher-language .language-button {
    background: #f8f8f8;
    border: initial;
    font-size: .8rem;
    color: #8f8f8f;
    padding: 0.6rem 1rem;
    border-radius: 20px;
}

.switcher-language .language-button:focus {
    box-shadow: none;
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.buy-action .btn-outline-primary {
    color: #922c88;
    border-color: #922c88;
    padding: 0.45rem 1rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: 20px;
}

.buy-action .btn-outline-primary:hover {
    background-color: #922c88;
    color: #ffffff; 
    border-color: #922c88;
}