.input {
  position: relative;
  border-radius: 1.5rem;
  @apply bg-[#f8f8f8] dark:bg-[#1D1A1D];
}

.input input {
  border: initial;
  background: transparent;
  outline: initial!important;
  padding: 0.5rem 1rem;
  line-height: 1.75;
  font-size: .8rem;
  width: 90%;
}

.input .icon-hover {
  font-size: 17px;
  border-radius: 10px;
  color: #d7d7d7;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -10px;
  right: 3px;
  text-align: center;
  cursor: pointer;

  :hover {
    color: $primary-color;
  }
}