.masonry {
	display: grid;
	grid-auto-rows: minmax(20vh, 300px);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	> div {		
        height: initial;
        margin: unset;
        width: initial;
        min-width: initial;
        animation: 1s ease-out 0s 1 slideInBottom;
        &:nth-of-type(2n + 2) {
            grid-row: span 2;
        }
        .item-masonry {
            height: 100%;
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
	}
}

@keyframes slideInBottom {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}