.item-masonry {
    break-inside: avoid;
    border-radius: 16px;
    overflow: hidden;
    cursor: zoom-in;
    img {
        width: 100%;
        object-fit: cover;
    }
}

// .item-masonry:hover .btn-save {
//     display: block;
// }

.item-masonry {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.37);
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 16px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
    }
    &:hover {
        &::after {
            visibility: visible;
            opacity: 1;
        }
    }
}
