@import "variables.module.scss";

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 100px;
  z-index: 4;
  height: calc(100% - 100px);
  transition: border-radius .3s;
}

.sidebar .main-menu {
  width: 120px;
  height: calc(100% - 100px);
  @apply bg-white text-gray-900 dark:bg-background-color-dark dark:text-gray-100;
  z-index: 3;
  position: fixed;
  transition: transform .3s;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;
}
.sidebar .main-menu .scroll {
  padding-right: unset;
  margin-right: unset;
  height: 100%;
}
.sidebar .scrollbar-container {
  margin-right: 0;
  padding-right: 0;
}

.sidebar .sub-menu {
  width: 230px;
  @apply bg-white text-black dark:bg-background-color-dark dark:text-gray-100;
  z-index: 2;
  position: fixed;
  left: 120px;
  border-left: 1px solid;
  @apply border-border-color dark:border-border-color-dark;
  box-shadow: 0 3px 30px rgb(0 0 0 / 10%), 0 3px 20px rgb(0 0 0 / 10%);
  transition: transform .3s;
  height: calc(100% - 100px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  border-radius: 0 0.75rem 0.75rem 0;
}

.ps {
  overflow: hidden!important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.sub-hidden .sub-menu {
  transform: translateX(-230px);
}
.main-hidden .main-menu {
  transform: translateX(-120px);
}
.main-hidden.sub-hidden .sub-menu, .menu-hidden .sub-menu {
  transform: translateX(-350px);
}

.sidebar .main-menu ul li {
  position: relative;
}

.sidebar .main-menu ul li.active a {
  color: $primary-color;
}
.sidebar .main-menu ul li a {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid;
  @apply border-border-color dark:border-border-color-dark;
  color: #3a3a3a;
}

.sidebar ul li a {
  text-decoration: none !important;
  color: #3a3a3a;
  transition: color .2s;
}

.sidebar .main-menu ul li.active:after {
  content: " ";
  background: $primary-color;
  border-radius: 10px;
  position: absolute;
  width: 6px;
  height: 90px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.sidebar .sub-menu ul li.active:after {
  content: " ";
  background: $primary-color;
  border-radius: 10px;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  left: -16px;
}

.sidebar .sub-menu ul li.active a, .sidebar .sub-menu ul li.active i {
  color: $primary-color;
}
.sidebar .sub-menu ul li a {
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 10px;
}

.sidebar .nav-sub-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar .sub-menu ul li {
  margin-bottom: 0;
  margin-left: 30px;
  position: relative;
}

