.in-table {
    background: #fff;
    border-radius: calc(0.15rem - 1px);
    box-shadow: 0 1px 15px rgb(0, 0, 0, 4%), 0 1px 6px rgb(0, 0, 0, 4%);
    padding: 1.75rem;
    table {
        tbody {
            tr {
                td {
                    border-bottom: 1px solid #f3f3f3;
                }
                &:last-child {
                    td {
                        border: none;
                    }
                }
            }
        }
        tr {
            td, th {
                padding: 1rem 0;
                border: initial;
            }
        }
        tr {
            th {
                padding: 1rem 0;
            }
        }
        > :not(:first-child) {
            border: none;
        }
    }
}